$base-color-dark: #0a192f;
$base-color-light: #e4e4e4;
$light-cyan: #14b8a6;
$light-cyan-tint: rgba(17, 212, 189, 0.1);
$blue: #007ad9;
$link: rgb(70, 145, 136);


// Colors from RealTimeColors Suggestion
$text: #1f292e;
$background: #fefcfa;
$primary-button: #42dbf0;
$secondary-button: #bdd4fa;
$accent: #f49fb0;