<section id="contact">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row justify-content-lg-end justify-content-md-center">
        <h2 class="d-flex justify-content-center col-12 my-4 fw-bolder">
          03. Get In Touch
        </h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-12 d-flex align-items-center">
          <div class="row justify-content-center">
            <p class="col-md-12 col-12 text-center">
              I'm always looking for new opportunities to broaden my horizon and
              knowledge in the tech industries, feel free to contact me.
            </p>
            <p class="col-md-12 col-12 text-center">
              Whether you have a question or just want to talk, I'll try to get
              back to you as fast as I can!
            </p>
            <a
              class="col-4 text-center"
              href="mailto:titorhenaldi@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              >Message Me</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
