<section
  id="experience"
  appSectionObserver
  #intersection="intersection"
  (isIntersecting)="isIntersecting($event)"
  [isContinuous]="true"
  [threshold]="0.5"
>
  <div class="main-panel">
    <div class="content-wrapper">
      <div
        class="row justify-content-lg-end justify-content-md-center {{
          !onFragment ? 'slide-bottom' : ''
        }}"
        [ngClass]="{ visible: visible }"
      >
        <h2 class="d-flex justify-content-center col-12 fw-bolder my-4">
          02. Experience
        </h2>
      </div>
      <p-timeline
        [value]="events1"
        align="alternate"
        styleClass="customized-timeline {{ !onFragment ? 'invisible' : '' }} {{
          visible ? 'visible' : ''
        }}"
      >
        <ng-template pTemplate="marker" let-event>
          <span
            class="custom-marker p-shadow-2"
            [style.backgroundColor]="event.color"
          >
            <ng-container *ngIf="event.icon; else done">
              <i [ngClass]="event.icon"></i>
            </ng-container>
            <ng-template #done>
              <span>0{{ event.number }}</span>
            </ng-template>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card
            [header]="event.status"
            [subheader]="event.date"
            [styleClass]="cardStyle(onFragment, visible, event.id)"
            [style]="{ height: '300px' }"
          >
            <p-scrollPanel [style]="{ width: '100%' }" styleClass="custombar1">
              <p [innerHTML]="event.description_en"></p>
            </p-scrollPanel>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</section>
