<section id="about">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-lg-end justify-content-md-center">
                <h2
                    class="d-flex justify-content-lg-start justify-content-md-end col-lg-5 col-md-6 col-12 my-4 fw-bolder">
                    01. About Me
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 col-12 d-flex justify-content-center">
                    <img src="../../../assets/picture/testimonial-1.jpg" alt="profile" class="img-fluid profile">
                </div>
                <div class="col-lg-5 col-md-6 col-12 d-flex align-items-center">
                    <div class="row">
                        <p class="col-md-12 col-12 text-start">Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit.</p>
                        <p class="col-md-12 col-12 text-start">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui reiciendis nihil
                            accusantium
                            labore
                            quis
                            tempore
                            deleniti rerum, modi, sint unde voluptatibus nesciunt ducimus aspernatur inventore voluptate
                            magnam
                            dignissimos
                            odit?
                        </p>
                        <p class="col-md-12 col-12 text-start">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ex, cumque modi necessitatibus
                            obcaecati maxime qui beatae dolore quae fugit vitae repellendus eius quo ea, vel minus
                            repellat rem alias?
                        </p>
                        <p class="col-md-12 col-12 text-start">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">> Javascript</div>
                                <div class="col-6">> JavaScript</div>
                                <div class="col-6">> JavaScript</div>
                                <div class="col-6">> JavaScript</div>
                                <div class="col-6">> JavaScript</div>
                                <div class="col-6">> JavaScript</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>