<app-navbar></app-navbar>
<div class="container min-vh-100">
  <div class="container-fluid">
    <app-home [onFragment]="startOnFragment[0]"></app-home>

    <app-about [onFragment]="startOnFragment[1]"></app-about>

    <app-experience [onFragment]="startOnFragment[2]"></app-experience>

    <app-contact [onFragment]="startOnFragment[3]"></app-contact>
  </div>
</div>
<app-footer></app-footer>

<!-- <div class="container min-vh-100">
  <div class="container-fluid">
    <section id="home">
      //code
    </section>
    <section id="about">
      //code
    </section>
  </div>
</div> -->
