<app-navbar></app-navbar>
<div class="container min-vh-100">
  <div class="container-fluid">
    <app-home
      appSectionObserver
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, sections[0])"
      [isContinuous]="true"
      [threshold]="0.5"
    ></app-home>

    <app-about
      appSectionObserver
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, sections[1])"
      [isContinuous]="true"
      [threshold]="0.5"
    ></app-about>

    <app-experience
      appSectionObserver
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, sections[2])"
      [isContinuous]="true"
      [threshold]="0.5"
    ></app-experience>

    <app-contact
      appSectionObserver
      #intersection="intersection"
      (isIntersecting)="isIntersecting($event, sections[3])"
      [isContinuous]="true"
      [threshold]="0.5"
    ></app-contact>
  </div>
</div>
<app-footer></app-footer>
