<section id="home">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row justify-content-center">
        <div class="col-md-7 col-12 d-flex align-items-center">
          <div class="row d-flex justify-content-end">
            <h4 class="col-md-7 col-12 m-0 text-md-end text-center">
              Welcome! My name is
            </h4>
            <h2 class="col-md-12 col-12 text-md-end text-center big-header">
              Tito Rhenaldi P.
            </h2>
            <h2 class="col-md-12 col-12 text-md-end text-center big-header">
              Building websites is my forte.
            </h2>
            <p class="col-md-8 col-12 text-md-end text-center mt-3">
              I'm a web developer specialized in building front-end and back-end
              application. Currently, I'm focused on creating a robust Business
              Supporting System (BSS) at PT. Pasifik Satelit Nusantara.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-5 col-12 d-flex justify-content-center">
          <img
            src="../../../assets/picture/testimonial-1.jpg"
            alt="profile"
            class="img-fluid profile"
          />
        </div>
      </div>
      <div class="row justify-content-center">
        <a href="/#about" class="col-2 text-center">Learn more...</a>
      </div>
    </div>
  </div>
</section>
