<section id="home">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <h4 class="d-flex justify-content-md-end justify-content-center col-lg-5 col-md-8 col-12">Welcome! My name is
        </h4>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 col-12 d-flex align-items-center">
          <div class="row">
            <h1 class="col-md-12 col-12 text-md-end text-center">Lorem ipsum dolor sit amet consectetur adipisicing
              elit.</h1>
            <p class="col-md-12 col-12 text-md-end text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores qui reiciendis nihil accusantium
              labore
              quis
              tempore
              deleniti rerum, modi, sint unde voluptatibus nesciunt ducimus aspernatur inventore voluptate magnam
              dignissimos
              odit?
            </p>
          </div>
        </div>
        <div class="col-md-4 col-12 d-flex justify-content-center">
          <img src="../../../assets/picture/testimonial-1.jpg" alt="profile" class="img-fluid profile">
        </div>
      </div>
    </div>
  </div>
</section>
