/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables.scss";

body {
  background-color: $base-color-light;
}

section {
  min-height: 70vh;
  max-height: 100vh;

  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;

  padding: 10% 0;
}

@media screen and (max-width: 480px) {
  section {
    padding: 20% 0;
  }
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

// Style for primeNG Scroll panel //
.p-scrollpanel {
  p {
    padding: 0.5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;
      z-index: 1;

      &:hover {
        background-color: #007ad9;
      }
    }
  }
}

// Style for primeNG Scroll panel //

.big-header {
  margin: 0px;
  font-size: clamp(30px, 5vw, 50px);
}

.row {
  .btn {
    min-width: 120px;
  }

  .btn-primary {
    color: $base-color-dark;
    border: 1px solid $base-color-dark;

    background-color: $base-color-light;
  }
}

.p-timeline .p-timeline-event-connector {
  background-color: $base-color-dark !important;
}

.custombar1 {
  height: 150px;
}